Django>=4.2
djangorestframework
djangorestframework-simplejwt
python-dotenv
django-storages[boto3]
psycopg2-binary  # pour PostgreSQL
boto3
dj-database-url
drf-spectacular

gunicorn==21.2.0
whitenoise==6.6.0
django-cors-headers==4.6.0